{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pager %}

{% block title %}Blog{% endblock %}

{% block content %}
    <div class="container">
        {% if posts %}
            {% for post in posts %}
                <h3 class="text-primary">{{ post.title }}</h3>
                <small>
                    <span class="text-muted">{{ moment(post.timestamp).format('LL') }}</span>
                </small>
                <p>{{ post.body }}</p>
            {% if not loop.last %}
                <hr>
            {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    {% if posts %}
        <div class="page-footer">{{ render_pager(pagination) }}</div>
    {% endif %}

{% endblock %}