{% extends 'base.html' %}


{% block title %}
    About Fuck Papers
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1>Fuck papers，一款在线文献管理工具，支持多种文献操作。</h1>
        <br>
        <h2>用户只需输入论文的url，网站会自动进行解析收录。</h2>
        <h2>目前已支持的url格式(xxx为论文编号)：</h2>
        <h3><strong><ol>
            <li>https://arxiv.org/abs/xxx</li>
            <li>http://de.arxiv.org/abs/xxx</li>
            <li>https://ieeexplore.ieee.org/document/xxx</li>
        </ol></strong></h3>
        <hr>
        <h3>更详细内容请见<a href="https://github.com/ZhengXinyue/fuck_papers" target="_blank">Fuck papers</a></h3>
    </div>
{% endblock %}