{% if papers %}
    {% for paper in papers %}
        <h2 class="text-primary"><a href="{{ url_for('paper.show_paper', paper_id=paper.id) }}">{{ paper.title }}</a></h2>
        <small><p class="text-muted">提交或发表信息: {{ paper.submit_time }}</small>

        <p>{{ paper.abstract|striptags|truncate }}
            <small><a href="{{ url_for('paper.show_paper', paper_id=paper.id) }}">Read More</a></small>
        </p>
        <small>
            {% if paper.stared %}
                ---已收藏
            {% else %}
                ---未收藏
            {% endif %}
            <span class="float-right">添加时间: {{ moment(paper.add_timestamp).format('lll') }}</span>
        </small>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}

{% else %}
    <div class="tip">
        <h5>该分类下没有论文</h5>
    </div>
{% endif %}